<!doctype html>
<html lang="ru">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}InternStart{% endblock %}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
  <header class="site-header">
    <div class="container nav-wrap">
      <a class="logo" href="{{ url_for('public.home') }}">InternStart</a>
      <nav>
        <a href="{{ url_for('public.home') }}">Главная</a>
        <a href="{{ url_for('public.catalog') }}">Каталог</a>
      </nav>
    </div>
  </header>

  <main class="container">
    {% block content %}{% endblock %}
  </main>
</body>
</html>
